#custom-select div:hover, #custom-select li:hover {
  background-color: #F2F2F2;
}

#custom-select .selected-option {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #000000;
  background: #FFFFFF url('arrow.png') no-repeat 95% center;
}

#custom-select ul {
  background: #FFFFFF;
}

#custom-select .option {
  padding: 5px 10px;
  width: 200px;
  border: 1px solid #000000;
  border-top: 0px;
}

#test input[type="submit"] {
  width: 100px;
  height: 22px;
  border: 1px solid #000000;
  background: #FFFFFF;
  margin: 10px 0 0;
  cursor: pointer;
}

#test input[type="submit"]:hover {
  background: #F2F2F2;
}
